<%= form_with(model: car, local: true) do |form| %>
  <% if car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
      <% car.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :make %>
    <%= form.text_field :make %>
  </div>

  <div class="field">
    <%= form.label :model %>
    <%= form.text_field :model %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.number_field :year %>
  </div>

  <div class="field">
    <%= form.label :transmission %>
    <%= form.text_field :transmission %>
  </div>

  <div class="field">
    <%= form.label :transmission_steps %>
    <%= form.number_field :transmission_steps %>
  </div>

  <div class="field">
    <%= form.label :shape %>
    <%= form.text_field :shape %>
  </div>

  <div class="field">
    <%= form.label :motor_type %>
    <%= form.text_field :motor_type %>
  </div>

  <div class="field">
    <%= form.label :motor_capacity %>
    <%= form.number_field :motor_capacity %>
  </div>

  <div class="field">
    <%= form.label :cylenders %>
    <%= form.number_field :cylenders %>
  </div>

  <div class="field">
    <%= form.label :valves %>
    <%= form.number_field :valves %>
  </div>

  <div class="field">
    <%= form.label :horsepower %>
    <%= form.number_field :horsepower %>
  </div>

  <div class="field">
    <%= form.label :torque %>
    <%= form.number_field :torque %>
  </div>

  <div class="field">
    <%= form.label :fuel %>
    <%= form.text_field :fuel %>
  </div>

  <div class="field">
    <%= form.label :tank_capacity %>
    <%= form.number_field :tank_capacity %>
  </div>

  <div class="field">
    <%= form.label :max_speed %>
    <%= form.number_field :max_speed %>
  </div>

  <div class="field">
    <%= form.label :acceleration %>
    <%= form.number_field :acceleration %>
  </div>

  <div class="field">
    <%= form.label :origin %>
    <%= form.text_field :origin %>
  </div>

  <div class="field">
    <%= form.label :manufactured %>
    <%= form.text_field :manufactured %>
  </div>

  <div class="field">
    <%= form.label :length %>
    <%= form.number_field :length %>
  </div>

  <div class="field">
    <%= form.label :width %>
    <%= form.number_field :width %>
  </div>

  <div class="field">
    <%= form.label :height %>
    <%= form.number_field :height %>
  </div>

  <div class="field">
    <%= form.label :clearence %>
    <%= form.number_field :clearence %>
  </div>

  <div class="field">
    <%= form.label :wheel_base %>
    <%= form.number_field :wheel_base %>
  </div>

  <div class="field">
    <%= form.label :wheel_radius %>
    <%= form.number_field :wheel_radius %>
  </div>

  <div class="field">
    <%= form.label :seats %>
    <%= form.number_field :seats %>
  </div>

  <div class="field">
    <%= form.label :trunk_size %>
    <%= form.number_field :trunk_size %>
  </div>

  <div class="field">
    <%= form.label :abs %>
    <%= form.text_field :abs %>
  </div>

  <div class="field">
    <%= form.label :abd %>
    <%= form.text_field :abd %>
  </div>

  <div class="field">
    <%= form.label :esp %>
    <%= form.text_field :esp %>
  </div>

  <div class="field">
    <%= form.label :airbags %>
    <%= form.number_field :airbags %>
  </div>

  <div class="field">
    <%= form.label :warning %>
    <%= form.text_field :warning %>
  </div>

  <div class="field">
    <%= form.label :front_fog %>
    <%= form.text_field :front_fog %>
  </div>

  <div class="field">
    <%= form.label :back_fog %>
    <%= form.text_field :back_fog %>
  </div>

  <div class="field">
    <%= form.label :back_whipers %>
    <%= form.text_field :back_whipers %>
  </div>

  <div class="field">
    <%= form.label :automatic_side_mirrors %>
    <%= form.text_field :automatic_side_mirrors %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
