<p id="notice"><%= notice %></p>

<h1>Cars</h1>

<table>
  <thead>
    <tr>
      <th>Make</th>
      <th>Model</th>
      <th>Year</th>
      <th>Transmission</th>
      <th>Transmission steps</th>
      <th>Shape</th>
      <th>Motor type</th>
      <th>Motor capacity</th>
      <th>Cylenders</th>
      <th>Valves</th>
      <th>Horsepower</th>
      <th>Torque</th>
      <th>Fuel</th>
      <th>Tank capacity</th>
      <th>Max speed</th>
      <th>Acceleration</th>
      <th>Origin</th>
      <th>Manufactured</th>
      <th>Length</th>
      <th>Width</th>
      <th>Height</th>
      <th>Clearence</th>
      <th>Wheel base</th>
      <th>Wheel radius</th>
      <th>Seats</th>
      <th>Trunk size</th>
      <th>Abs</th>
      <th>Abd</th>
      <th>Esp</th>
      <th>Airbags</th>
      <th>Warning</th>
      <th>Front fog</th>
      <th>Back fog</th>
      <th>Back whipers</th>
      <th>Automatic side mirrors</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.make %></td>
        <td><%= car.model %></td>
        <td><%= car.year %></td>
        <td><%= car.transmission %></td>
        <td><%= car.transmission_steps %></td>
        <td><%= car.shape %></td>
        <td><%= car.motor_type %></td>
        <td><%= car.motor_capacity %></td>
        <td><%= car.cylenders %></td>
        <td><%= car.valves %></td>
        <td><%= car.horsepower %></td>
        <td><%= car.torque %></td>
        <td><%= car.fuel %></td>
        <td><%= car.tank_capacity %></td>
        <td><%= car.max_speed %></td>
        <td><%= car.acceleration %></td>
        <td><%= car.origin %></td>
        <td><%= car.manufactured %></td>
        <td><%= car.length %></td>
        <td><%= car.width %></td>
        <td><%= car.height %></td>
        <td><%= car.clearence %></td>
        <td><%= car.wheel_base %></td>
        <td><%= car.wheel_radius %></td>
        <td><%= car.seats %></td>
        <td><%= car.trunk_size %></td>
        <td><%= car.abs %></td>
        <td><%= car.abd %></td>
        <td><%= car.esp %></td>
        <td><%= car.airbags %></td>
        <td><%= car.warning %></td>
        <td><%= car.front_fog %></td>
        <td><%= car.back_fog %></td>
        <td><%= car.back_whipers %></td>
        <td><%= car.automatic_side_mirrors %></td>
        <td><%= link_to 'Show', car %></td>
        <td><%= link_to 'Edit', edit_car_path(car) %></td>
        <td><%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Car', new_car_path %>
