<p id="notice"><%= notice %></p>

<p>
  <strong>Make:</strong>
  <%= @car.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @car.model %>
</p>

<p>
  <strong>Year:</strong>
  <%= @car.year %>
</p>

<p>
  <strong>Transmission:</strong>
  <%= @car.transmission %>
</p>

<p>
  <strong>Transmission steps:</strong>
  <%= @car.transmission_steps %>
</p>

<p>
  <strong>Shape:</strong>
  <%= @car.shape %>
</p>

<p>
  <strong>Motor type:</strong>
  <%= @car.motor_type %>
</p>

<p>
  <strong>Motor capacity:</strong>
  <%= @car.motor_capacity %>
</p>

<p>
  <strong>Cylenders:</strong>
  <%= @car.cylenders %>
</p>

<p>
  <strong>Valves:</strong>
  <%= @car.valves %>
</p>

<p>
  <strong>Horsepower:</strong>
  <%= @car.horsepower %>
</p>

<p>
  <strong>Torque:</strong>
  <%= @car.torque %>
</p>

<p>
  <strong>Fuel:</strong>
  <%= @car.fuel %>
</p>

<p>
  <strong>Tank capacity:</strong>
  <%= @car.tank_capacity %>
</p>

<p>
  <strong>Max speed:</strong>
  <%= @car.max_speed %>
</p>

<p>
  <strong>Acceleration:</strong>
  <%= @car.acceleration %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @car.origin %>
</p>

<p>
  <strong>Manufactured:</strong>
  <%= @car.manufactured %>
</p>

<p>
  <strong>Length:</strong>
  <%= @car.length %>
</p>

<p>
  <strong>Width:</strong>
  <%= @car.width %>
</p>

<p>
  <strong>Height:</strong>
  <%= @car.height %>
</p>

<p>
  <strong>Clearence:</strong>
  <%= @car.clearence %>
</p>

<p>
  <strong>Wheel base:</strong>
  <%= @car.wheel_base %>
</p>

<p>
  <strong>Wheel radius:</strong>
  <%= @car.wheel_radius %>
</p>

<p>
  <strong>Seats:</strong>
  <%= @car.seats %>
</p>

<p>
  <strong>Trunk size:</strong>
  <%= @car.trunk_size %>
</p>

<p>
  <strong>Abs:</strong>
  <%= @car.abs %>
</p>

<p>
  <strong>Abd:</strong>
  <%= @car.abd %>
</p>

<p>
  <strong>Esp:</strong>
  <%= @car.esp %>
</p>

<p>
  <strong>Airbags:</strong>
  <%= @car.airbags %>
</p>

<p>
  <strong>Warning:</strong>
  <%= @car.warning %>
</p>

<p>
  <strong>Front fog:</strong>
  <%= @car.front_fog %>
</p>

<p>
  <strong>Back fog:</strong>
  <%= @car.back_fog %>
</p>

<p>
  <strong>Back whipers:</strong>
  <%= @car.back_whipers %>
</p>

<p>
  <strong>Automatic side mirrors:</strong>
  <%= @car.automatic_side_mirrors %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
